*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.bg-wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(./img/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      
}
.bg-team{
    width: 100%;
    height: 50vh;
    background-image: url(./img/team-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.individual-bg{
    width: 100%;
    height: 60vh;
    background-image: url(./img/personalbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
.bg-text, .bg-team-text, .bg-individual-text{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5); 
}
.bg-team-text{
    height: 50vh;
}
.bg-individual-text{
    height: 60vh;
}
.hero-section .btn {
    text-align: center;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid white;
}
.hero-section .btn:hover {
    background-color: rgb(255, 255, 255);
    color:#716969 !important;
}
.hero-section{
    position: absolute;
    top:40%;
 }
 .hero-section1{
    position: absolute;
    top:60%;
 }
.hero-section h1,h2,p, .nav-link {
    color:white;
}
.hero-section1 h1,h2,p, .nav-link {
    color:white;
}
.navbar-title{
    font-size: 40px;
}
.navbar-expand-lg .navbar-collapse{
justify-content: end;
}
.team-header{
    color: #333;
}
.user-card{
    position: relative;
    width: 80%;
    left: 10%;
}
.fa-user{
    padding: 20px;
    font-size: 30px;
}
.team-user img{
   width: 100%;
   border-radius: 20px;
}
.fa-user{
    color: #6CB0EF;
    font-size: 70px;
}
.card{
    border-radius:20px;
}
.card p{
    font-size: 14px;
    color: rgba(69, 70, 70, 0.4);
}
.social-icon a i{
    font-size: 12px;
    color: rgba(69, 70, 70, 0.5);
}
.social-icon a i:hover{
    color: rgba(0, 34, 255, 0.5);
}
.team-tittle{
    color:#333;
}
.grp-icon{
color:#a7a5a5;
}
.divider{
    width: 20%;
    border-bottom: 2px solid rgba(167, 165, 165,0.5);
    vertical-align:middle;
}
.fa-users{
    font-size: 20px;
    margin: 0 20px;
    vertical-align:bottom;
}


.breadcrumb-item a{
    color:gray;
}
.breadcrumb-item a:hover{
    color:rgb(5, 9, 244);
}
li{
    list-style-type: none;

}
.sidebar-list{
    padding:8px;
    text-align: center;;
  box-shadow: .1rem .1rem .3rem rgb(203, 198, 198); 
  border-radius: 10px;
}
.sidebar-list a{
    color:rgb(128, 128, 128);
}
.sidebar-list:hover{
   color: #fff;
      background-color:rgb(14, 56, 118);
  
}
.para{
    color:grey;
}
.copyrights{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #fff;
    padding: 10px;
   
}
.copyright{
    font-size: 14px;
    padding: 10px;
}

/* flip

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  .flip-card-back {
    background-color: rgba(158, 171, 171,.3);
    transform: rotateY(180deg);
  }
  .flip-card-back p{
      color: #333;
  }
  .flip-card-back h1{
      margin-top: 80px;
  } */
 